body {
	padding: 20px;
}

h1 {
	margin: auto;
	width: max-content;
	padding-bottom: 20px;
}

input[type=url] {
	width: calc(100% - 20px);
	margin-bottom: 10px;
}

body > form {
	text-align: right;
}

ol {
	list-style: none;
	padding: 0;
}

li {
	text-align: right;
	margin-bottom: 20px;
}

li details {
	display: inline-block;
	width: calc(100% - 80px - 30px);
	text-align: left;
	vertical-align: top;
}

li details form {
	margin-top: 10px;
}

li summary {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
	outline: none;
}

li form {
	display: inline-block;
	margin-left: 10px;
}

li input {
	padding: 10px 0 10px 0;
	width: 80px;
}
